.mainContainer {
  min-height: 1122px;
  min-width: 793px;
  max-width: 793px;
  margin-bottom: 5vh;
}

.topLayer {
  min-height: 30px;
  max-width: 100%;
  display: flex;
}

.resumeSlot {
  min-height: 100%;
  min-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--buttonGap);
  padding-left: 10px;
  flex-wrap: wrap;
}

.resumeSlot > button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.resumeSlot > button:hover {
  transform: var(--scaleValue);
}

.resumeSlot > button > img {
  height: 100%;
  width: 100%;
}

.buttonSlot {
  min-height: 100%;
  min-width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--buttonGap);
}

.buttonSlot > button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.buttonSlot > button:hover {
  transform: var(--scaleValue);
}

.buttonSlot > button > img {
  height: 100%;
  width: 100%;
}

/* apply to the current active resume*/
.activeRes {
  transform: scale(1.5);
}

.activeRes:hover {
  transform: scale(1.2);
}


@media only screen and (max-width: 1600px) {
  .mainContainer {
    align-self: center;
  }
}
