.mainContainer {
  min-height: 1122px;
  min-width: 793px;
  margin-bottom: 5vh;
}

.topLayer {
  height: 30px;
  width: 100%;
  display: flex;
}

.resumeSlot {
  height: 100%;
  width: 100%;
}

.buttonSlot {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--buttonGap);
}

.buttonSlot > button {
  height: 100%;
  min-width: 30px;
  border: none;
  background-color: transparent;
}

.buttonSlot > button:hover {
  transform: var(--scaleValue);
}

.buttonSlot > button > img {
  height: 100%;
  width: 100%;
}
