@import url("../assets/fonts/cutive_mono/stylesheet.css");

.mainContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

/* each header has two div */
/* each div containe heading and button */
.header {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header > div > button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* all img icon inside header */
.header > div > button > img {
  width: 30px;
  height: 30px;
}

.header > div > h2 {
  user-select: none;
  cursor: pointer;
}

/* expand icon and header */
.header > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 100%;
}

.showArea {
  min-width: 90%;
  padding: 10px;
}

.dialogBox {
  min-width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: 2px dashed black;
}

.topDiv {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.topDiv > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.topDiv > div > input {
  min-width: 100%;
  cursor: pointer;
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px;
}

.dialogBox > .topDiv > .dateDiv {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.dateDiv > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

/* start and end date */
.dateDiv > div > input {
  width: 100%;
  cursor: pointer;
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px;
}
