.mainContainer{
    height: 5vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: red;
    margin-bottom: 5vh;
}

.logoIcon{
    height: var(--logoSize);
    width: var(--logoSize);
}

.heading{
    font-size: 2rem;
}