@import url("../styles/utility.css");

.mainContainer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.logoIcon {
    height: var(--logoSize);
    width: var(--logoSize);
}

.logoIcon:hover {
    animation: 3s rot infinite alternate;
}

.heading {
    font-size: 1.3rem;
}
