@import url("../styles/utility.css");

.navbar{
    min-height: 9vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar > img{
    max-height: 32px;
    max-width: 32px;
}

.navbar>img:hover{
    animation: 2s rotate infinite alternate;
}