@import url("../assets/fonts/cutive_mono/stylesheet.css");

.mainContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

/* each header has two div */
/* each div containe heading and button */
.header {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header > div > button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* all img icon inside header */
.header > div > button > img {
  width: 30px;
  height: 30px;
}

.header > div > h2 {
  user-select: none;
  cursor: pointer;
}

/* expand icon and header */
.header > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-width: 90%;
  height: 100%;
}

.dialogBox {
  width: 100%;
  height: 300px;
  background-color: red;
}

.tray {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.tray > div {
  width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.tray > button {
  width: 5%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: none;
  cursor: pointer;
}

.tray > button > img {
  height: 30px;
  width: 30px;
}

.inputDiv {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputDiv > input {
  width: 95%;
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  cursor: pointer;
}

.inputDiv > button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputDiv > button > img {
  height: 30px;
  width: 30px;
}