:root {
  --fontSize: 15px;
}

.mainContainer {
  height: 1122px;
  width: 793px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.mainContainer > div {
  max-width: 90%;
  min-width: 90%;
  min-height: 90%;
  max-width: 90%;
}

.line {
  border: none;
  height: 1px;
  background-color: black;
}

/* contains social link and name */
.personalDetailDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* exists inside the PersonalDetailDiv */
.nameDiv {
  min-width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* exists inside the PersonalDetailDiv */
.socialLinksDiv {
  width: max-content;
  max-width: 50%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socialLinksDiv > p {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.socialLinksDiv > p > a {
  display: block;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.socialLinksDiv > p > img {
  height: 16px;
  width: 16px;
}

.socialLinksDiv > p > a:hover {
  text-decoration: underline;
}

.aboutMeDiv {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.aboutMeDiv > p {
  line-height: 1.1;
  letter-spacing: 0;
}

.skillDiv {
  margin-top: 5px;
}

.tray {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tray > div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tray > div > p {
  margin-left: 10px;
}

.skillDiv > .tray > div {
  display: flex;
}

.educationDiv {
  margin-top: 5px;
}

/* contains everything inside projectTray*/
.educationTray > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

/*  contains project Title and div that contains link and doc */
.educationTray > div > .topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.educationTray > div > .topDiv > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  align-self: flex-end;
  font-size: 13px;
  font-weight: bolder;
}

.educationTray > div > .bottomDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.educationTray > div > .bottomDiv > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  align-self: flex-end;
  font-size: 13px;
  margin-left: 20px;
  font-weight: bolder;
}

.projectDiv {
  margin-top: 5px;
}

/* contains everything inside projectTray*/
.projectTray > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

/*  contains project Title and div that contains link and doc */
.projectTray > div > .topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectTray > div > .topDiv > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.projectTray > div > .topDiv > div > a {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: block;
  font-size: 13px;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  align-self: flex-end;
}

.projectTray > div > .topDiv > div > a:hover {
  text-decoration: underline;
}

.projectTray > div > .topDiv > div > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  align-self: flex-end;
  font-size: 13px;
  font-weight: bolder;
}

.projectTray > div > .bottomDiv > ul {
  font-size: 14px;
  margin-left: 15px;
}

.additionalDiv {
  margin-top: 5px;
}

.addTray > div{
  width: 100%;
  display: flex;
  justify-items: flex-start;
  align-items: center;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.addTray > div > p{
  display: flex;
  margin-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.workExperienceDiv {
  margin-top: 5px;
}

/* contains everything inside workExperience*/
.workTray > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.workTray > div > .topDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workTray > div > .topDiv > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.workTray > div > .topDiv > div:nth-child(1) {
  align-items: flex-start;
}

.workTray > div > .topDiv > div:nth-child(1) > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 13px;
  font-weight: bolder;
  margin-left: 20px;
}

.workTray > div > .topDiv > div:nth-child(2) {
  align-items: flex-end;
}

.workTray > div > .topDiv > div:nth-child(2) > p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 13px;
  font-weight: bolder;
  margin-left: 20px;
}

.workTray > div > .bottomDiv > ul {
  font-size: 14px;
  margin-left: 15px;
}

@media only screen and (max-width: 1600px) {
  .mainContainer {
    align-self: center;
  }
}
