@import url("../assets/fonts/cutive_mono/stylesheet.css");

.mainContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

/* each header has two div */
/* each div containe heading and button */
.header {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header > div > button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* all img icon inside header */
.header > div > button > img {
  width: 30px;
  height: 30px;
}

.header > div > h2 {
  user-select: none;
  cursor: pointer;
}

/* expand icon and header */
.header > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 100%;
}

.showArea {
  min-width: 100%;
  padding: 10px;
}

.dialogBox {
  min-width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: 2px dashed black;
}

.topDiv,
.middleDiv {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.topDiv > input {
  min-width: 100%;
  cursor: pointer;
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px;
}

/* add skill */
.middleDiv > button {
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  color: gray;
}

.middleDiv > button:hover {
  color: black;
}

.bottomDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.bottomDiv > button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomDiv > button:hover {
  transform: scale(1.3);
}

.bottomDiv > button > img {
  width: 30px;
  height: 30px;
}

.inputDiv {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputDiv > input {
  width: 95%;
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  cursor: pointer;
}

.inputDiv > button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputDiv > button > img {
  height: 30px;
  width: 30px;
}

.tray {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.tray > div {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tray > button {
  width: 5%;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: none;
  cursor: pointer;
}

.tray > button > img {
  height: 30px;
  width: 30px;
}

.selected{
  background-color: black;
  color: white;
}
