@import url("../assets/fonts/cutive_mono/stylesheet.css");

.mainContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

/* each header has two div */
/* each div containe heading and button */
.header {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header > div > button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* all img icon inside header */
.header > div > button > img {
  width: 30px;
  height: 30px;
}

.header > div > h2 {
  user-select: none;
  cursor: pointer;
}

/* expand icon and header */
.header > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  min-width: 90%;
  height: 100%;
}

.showArea {
  width: 100%;
  margin-bottom: 15px;
}

.tray {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  gap: 5px;
  margin-bottom: 5px;
}

.tray > h4 {
  font-size: 16px;
  min-width: max-content;
}

.tray > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
  width: 100%;
}

.dialogBox {
  width: 95%;
  outline: 2px dashed black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
}

/* covers topDiv,bottomDiv and middleDiv */
.dialogBox > div{
  width: 100%;
  display: flex;
  margin-bottom: 5px;
}

.dialogBox > .topDiv{
  flex-direction: column;
}

.topDiv > input{
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px;
}

.topDiv > h3{
  margin-bottom: 5px;
}

.dialogBox > .middleDiv{
  flex-direction: column;
}

.middleDiv > input{
  font-family: "cutive_monoregular", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 5px;
}

.middleDiv > h3{
  margin-bottom: 5px;
}

.dialogBox > :nth-child(3) > button{
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 2px;
  margin-top: 5px;
  width: max-content;
}

.dialogBox > :nth-child(3) > button:hover{
  transform: scale(1.2);

  &::first-letter{
    text-decoration: underline;
  }
}

.dialogBox > .bottomDiv{
  justify-content: center;
  align-items: center;
}

.bottomDiv > button{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomDiv > button:hover{
  transform: scale(1.3);
}

.bottomDiv > button > img{
  height: 30px;
  width: 30px;
}