:root{
    --transition0 : all 0.75 ease-in-out;
    --miniFont: 25px;
    --maxFont: 35px;
}

.defaultButton{
    height: var(--miniFont);
    width: var(--miniFont);
}

.defaultButton:hover{
    transform: scale(1.6);
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

