.mainContainer{
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.content{
    min-width: 100%;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
}


@media only screen and (max-width:1600px){
    .content{
        flex-direction: column;
    }
}